[submodule "yuju"]
	path = yuju
	url = git@github.com:wonderbrands/yuju.git
	branch = 15.0
[submodule "wb_product_import"]
	path = wb_product_import
	url = https://github.com/wonderbrands/wb_product_import.git
[submodule "wb_additional_functions"]
	path = wb_additional_functions
	url = https://github.com/wonderbrands/wb_additional_functions.git
[submodule "wb_development"]
	path = wb_development
	url = https://github.com/wonderbrands/wb_development.git
[submodule "q_l10n_mx_autoinvoice"]
	path = q_l10n_mx_autoinvoice
	url = git@github.com:wonderbrands/q_l10n_mx_autoinvoice.git
	branch = 15.0

[submodule "sh_landed_cost_cancel"]
	path = sh_landed_cost_cancel
	url = git@github.com:wonderbrands/sh_landed_cost_cancel.git
	branch = 15.0
[submodule "setu_inventory_count_management"]
	path = setu_inventory_count_management
	url = git@github.com:wonderbrands/setu_inventory_count_management.git

[submodule "bf_catalog"]
	path = bf_catalog
	url = git@github.com:wonderbrands/bf_catalog.git
	branch = 15.0

[submodule "printnode_base"]
	path = printnode_base
	url = git@github.com:wonderbrands/printnode_base.git
	branch = 15.0SRPP

[submodule "wb_prio_picking"]
	path = wb_prio_picking
	url = git@github.com:wonderbrands/wb_prio_picking.git
	branch = 15.0SR

[submodule "bi_pos_default_customer"]
	path = bi_pos_default_customer
	url = git@github.com:wonderbrands/bi_pos_default_customer.git
	branch = main

[submodule "bi_pos_restrict_zero_qty"]
	path = bi_pos_restrict_zero_qty
	url = git@github.com:wonderbrands/bi_pos_restrict_zero_qty.git
	branch = correction-of-negatives

[submodule "wonderbrands/wb_SLA_module"]
	path = wonderbrands/wb_SLA_module
	url = git@github.com:wonderbrands/wb_SLA_module.git
	branch = main
[submodule "garazd_product_label_pro"]
	path = garazd_product_label_pro
	url = git@github.com:wonderbrands/garazd_product_label_pro.git
	branch = main
