[submodule "WB_data_res_partner"]
	path = WB_data_res_partner
	url = git@github.com:wonderbrands/WB_data_res_partner.git
	branch = 18.0

[submodule "WB_data_product"]
	path = WB_data_product
	url = git@github.com:wonderbrands/WB_data_product.git
	branch = 18.0
